@import '../../../../vendor/filament/filament/resources/css/theme.css';

body.fi-panel-dashboard {
    /* background: #f5f7fa; */
    background: #f5f7fa;
    
    
    .fi-sidebar {
        background: #f5f7fa;
        max-width: 220px;
        .fi-sidebar-item-icon,
        .fi-sidebar-group-icon  {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
    .fi-sidebar-header {
        background: #222937;
    }
    .fi-topbar {
        nav {
            background: #222937;
        }
    }
}

@config './tailwind.config.js';
